@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: black;
  color: #ffffff;
}

.brown {
  color: #e6533c;
}
.bg-brown {
  background-color: #e6533c;
  border: 1px solid #e6533c;
}
.bg-transparent {
  background-color: transparent;
  outline: 2px solid #ffffff;
}
.header-area {
  background-color: black;
  padding: 60px 0;
}
.header {
  max-width: 1060px;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-size: 2.25rem;
  font-weight: 900;
  font-style: italic;
}
.nav-links {
  display: flex;
  gap: 48px;
}
.menu-bar img {
  display: none;
  overflow: hidden;
}
.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}
.nav-links a span {
  background-color: #e6533c;
  padding: 8px 20px;
  border-radius: 46px;
}
.bannar {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.bannar-content {
  max-width: 600px;

  margin-top: 96px;
}
.bannar h2 {
  max-width: 520px;
  font-size: 4.8rem;
  color: #ffffff;
}
.bannar-content h2 span {
  font-style: italic;
}
.bannar-content .description {
  max-width: 480px;
  margin: 28px 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #8c8c8c;
}
.bannar-content .buttons {
  display: flex;
  gap: 14px;
}
.bannar-content .buttons button {
  padding: 16px 46px;
  border: none;
  border-radius: 42px;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 600;
}
.bannar-image {
  position: relative;
}
.cards .single-cards-1 {
  position: absolute;
  top: 20%;
  left: 65%;
  max-width: 193px;
  background-color: rgba(48, 48, 48, 0.54);
  padding: 16px 23px 16px;
  border-radius: 2px solid #4c4c4c;
  border-radius: 12px;
}
.cards .single-cards-1 h2 {
  font-size: 2.5rem;
}
.cards .single-cards-1 p {
  font-size: 13px;
  margin-top: 5px;
  white-space: nowrap;
  color: #8c8c8c;
}
.cards .single-cards-2 {
  position: absolute;
  top: 72%;
  left: -22%;
  max-width: 193px;
  background-color: rgba(48, 48, 48, 0.54);
  padding: 20px 23px;
  border-radius: 2px solid #4c4c4c;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
.cards .single-cards-2 span {
  background-color: #e6533c;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
}
.cards .single-cards-2 h2 {
  font-size: 1.25rem;
}
.cards .single-cards-2 p {
  font-size: 1rem;
  margin-top: 8px;
  white-space: nowrap;
  color: #8c8c8c;
}

.change-your-container {
  background-color: black;
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 100px;
}

.change-habit-content h2 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 14px;
}
.change-habit-content .description {
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
  color: #8c8c8c;
}
.change-habit-image {
  margin-top: 58px;
}
.change-habit-image .images {
  display: flex;
  gap: 40px;
  text-align: center;
}
.single-image img {
  border-radius: 100px;
}
.single-image h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding: 30px 0 6px;
}
.single-image .description {
  font-size: 0.8rem;
  text-align: center;
  color: #8c8c8c;
}
.run-container {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(34, 34, 34, 1);
  display: flex;
  gap: 165px;
  padding: 30px;
  border-radius: 18px;
}
.run-content {
  max-width: 443px;
  margin: 0 auto;
}

.run-content h2 {
  font-size: 3rem;
  margin-top: 41px;
  color: #ffffff;
}
.run-content .description {
  font-size: 14px;
  color: #8c8c8c;
  padding: 14px 0 34px;
}
.run-content button {
  padding: 16px 71px;
  border: none;
  border-radius: 42px;
  color: #ffffff;
  background-color: #e6533c;
  font-size: 1.125rem;
  font-weight: 600;
}
.run-image .mobile {
  display: none;
}
.meet-team-container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 88px;
}
.meet-content h2 {
  font-size: 3rem;
  text-align: center;
}
.meet-content .description {
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
  padding: 14px 0 58px;
  text-align: center;
  color: #8c8c8c;
}
.meet-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 18px;
}
.meet-image-container .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.single-images img {
  max-width: 100%;
}
.single-images {
  position: relative;
}
.single-images .div {
  position: absolute;
  top: 75%;
  left: 5%;
}

.single-images .div h2 {
  font-size: 1.25rem;
  white-space: nowrap;
}
.single-images .div p {
  font-size: 14px;
  padding: 3px 0 16px;
  color: #8c8c8c;
}
.footer-container {
  background-color: rgba(34, 34, 34, 1);
}
.footer-content {
  max-width: 1060px;
  margin: 0 auto;
  padding: 66px 191px 79px 190px;
  display: flex;
  gap: 102px;
  /* align-items: center; */
  justify-content: center;
}
.footer-content-right h2 {
  font-size: 4.3rem;
  font-weight: 900;
  font-style: italic;
  color: #e6533c;
}
.footer-content-right p {
  max-width: 443px;
  font-size: 14px;
  padding: 20px 0 73px;
  color: #8c8c8c;
}
.footer-content-left {
  display: flex;
  gap: 152px;
  white-space: nowrap;
}
.footer-content-left .get-started h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.footer-content-left .links {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer-content-left .links a {
  text-decoration: none;
  color: #8c8c8c;
  font-size: 1.4rem;
}

.horijental-div hr {
  max-width: 900px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.1);
  margin-top: 79px;
}
.footer-link {
  padding: 36px 0;
  text-align: center;
}
.footer-link a {
  font-size: 20px;
  text-decoration: none;
  color: #8c8c8c;
}
/* responsive */
/* responsive break-point 1200px */
@media (max-width: 992px) {
  body {
    margin: 0 20px;
  }
  .nav-bar {
    margin: 0;
  }
  .bannar-image {
    overflow: hidden;
  }
  .change-habit-image .images {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .run-container {
    gap: 68px;
    align-items: center;
  }
  .single-images .div {
    top: 60%;
  }
  .single-images .div h2 {
    width: 100%;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .footer-content {
    padding: 20px;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  body {
    margin: 0;
  }
  .nav-bar {
    margin: 0 20px;
  }
  .bannar {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .bannar-image {
    margin-top: 50px;
  }
  .change-habit-image .images {
    max-width: 566px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .single-image .description {
    max-width: 231px;
    margin: 0 auto;
  }
  .run-container {
    max-width: 684px;
    gap: 68px;
    align-items: center;
  }
  .run-content {
    text-align: justify;
  }
  .run-image img {
    width: 256px;
  }
  .single-images .div {
    top: 80%;
  }
  .single-images .div h2 {
    width: 100%;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .single-images img {
    height: 272px;
  }
  .footer-content {
    flex-direction: column;
    padding: 0;
    margin: 30px;
  }
}
@media (max-width: 576px) {
  .nav-links {
    display: none;
  }
  .menu-bar img {
    display: block;
  }
  .change-habit-image .images {
    width: 100%;
  }
  .change-habit-image .images {
    flex-direction: column;
  }
  .run-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .run-image {
    width: 100%;
    text-align: center;
  }
  .run-image img {
    width: 100%;
  }
  .run-image .desktop {
    display: none;
  }
  .meet-team-container {
    height: 100%;
  }
  .meet-image-container .images {
    max-width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}
